/**
 * Site header
 */
.site-header {
  border-top: 5px solid $brand-color;
  min-height: $spacing-unit * 1.865;
  padding-top: 5px;
  position: fixed;
  width: 100%;
  z-index: 4000;
  background: $background-color;
  @include shadow(0, 1px, 1px, 1px, #111);

  .wrap {
    max-width: $content-width;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }

  .logo {
    float: left;
    height: 54px;
  }
}

.main {
  min-height: 100%;
  background: $near-white-color;
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $near-white-color;
  }

  &:hover { text-decoration: none; }
}

.site-subtitle {
  padding-left: 10px;

  &,
  &:visited {
    color: $brand-color;
  }

  @include media-query($on-palm) {
    display: none;
  }
}

/* language drop down */

.lang-select {
  position: relative;
  float: right;
  margin: 10px 0 0 20px;

  @include media-query($on-laptop) {
    position: absolute;
    right: 60px;
  }
}

.lang-select select {
  font-family: $base-font-family;
  display: inline-block;
  cursor: pointer;
  padding: 10px 24px 10px 10px;
  outline: 0;
  border: 0;
  @include rounded-corners($btn-radius);
  background: $brand-color;
  color: $near-white-color;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.lang-select select:hover,
.lang-select select:focus {
  color: $text-color;
  background: $near-white-color;
}

.lang-select-arrow {
  position: absolute;
  top: 14px;
  right: 8px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0px 5px;
  border-color: $grey-color-dark transparent transparent transparent;
}

/* main navigation */

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $near-white-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-laptop) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $near-white-color;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: $spacing-unit/2 0;
  background-color:$grey-color-dark;

  @include media-query($on-palm) {
    padding: $spacing-unit / 2;
  }
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin: $spacing-unit/2 0 0 $spacing-unit/2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding-top: 90px;
  padding-bottom: 120px;

  @include media-query($on-laptop) {
    padding-bottom: 200px;
  }

  @include media-query($on-palm) {
    padding-bottom: 280px;
  }
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}


/* Button */
.btn {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: 1.125rem;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    border: 1px solid transparent;
    vertical-align: middle;
    -webkit-appearance: none;
    color: inherit;
    background-color: transparent;
    }

.btn:hover {
    text-decoration: none;
}

.btn:focus {
    outline: none;
    border-color: rgba(0, 0, 0, .125);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .25);
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* btn primary*/
    .btn-primary {
    color: #fff;
    background-color: $btn-bgcolor-primary;
    border-radius: $btn-radius;
    }

.btn-primary:hover {
    box-shadow: inset 0 0 0 20rem rgba(0, 0, 0, .0625);
    color: #fff;
}

.btn-primary:active {
    box-shadow: inset 0 0 0 20rem rgba(0, 0, 0, .125),
    inset 0 3px 4px 0 gba(0, 0, 0, .25),
	    0 0 1px rgba(0, 0, 0, .125);
}

.btn-primary:disabled,
.btn-primary.is-disabled {
    opacity: .5;
}

/**/
.center{
    text-align: center;
}


div.coins > div:nth-of-type(odd) {
    background: #fafafa;
}
