---
layout: default
---

<div class="home">

  <div id="landing-logo">
    <img src="{{ "/assets/img/chainspl.it-header-3.jpg" | relative_url }}"
      alt="{{ site.title | escape }} {{ site.subtitle | escape }}" />
  </div>

  <h1 class="page-heading center">Available Soon</h1>
    <div class="flex flex-wrap ">
       <div class="col-12 sm-col-6 md-col-4 ">
           <div class="pr2">
               <h2>Header</h2>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus odio vitae blandit viverra. Fusce odio lacus, vehicula et pulvinar eu, dictum sed ex. </p>
               <a href="#" class="btn btn-primary">Link Button</a>
           </div>
       </div>
        <div class="col-12 sm-col-6 md-col-4 ">
            <div class="pr2">
                <h2>Header</h2>
                <p> Fusce volutpat tellus vitae mollis varius. Aliquam fermentum hendrerit nulla tempus luctus. Nam ipsum odio, tempus vitae sagittis eu, placerat sed libero. Nam id dui quam.</p>
                <a href="#" class="btn btn-primary">Link Button</a>
            </div>
        </div>
        <div class=" col-12 sm-col-6 md-col-4 ">
            <div class="pr2">
                <h2>Header</h2>
                <p>Nam id dui quam. Nulla maximus, risus et faucibus accumsan, dolor elit feugiat lorem, semper eleifend orci est non ante. Ut risus eros, placerat sit amet dolor ac, placerat congue nisi. </p>
                <a href="#" class="btn btn-primary">Link Button</a>
            </div>
        </div>
    </div>

  {{ content }}

  {% if site.posts.size > 0 %}

    <h1 class="page-heading">Posts</h1>

    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

  {% endif %}
</div>
