---
layout: default
---

<header class="post-header">
  <h1 class="post-title">Bitcoin Forks</h1>
</header>

<p>A overview of Bitcoin hard forks, including forks-of-forks.</p>

<hr >

<div class="subway-map" style="display: none" data-columns="16" data-rows="10" data-cellSize="40" data-legendId="legend" data-textClass="text" data-gridNumbers="true" data-grid="false" data-lineWidth="10">
        <ul data-color="#1f78b1" data-label="Bitcoin" data-shiftCoords="0,-1" >
            <li data-coords="0.77,1"  data-labeltext="Bitcoin"> </li>
            <li data-coords="0.77,0.77" data-marker="@interchange" > </li> <!-- marker-only node, moved up by 0.10 -->
            <li data-coords="3,1"  data-labeltext="478559" data-marker="@station" > </li>
            <li data-coords="4.5,1"data-labeltext="segwit" > </li>
            <li data-coords="7,1"  data-labeltext="491407" > </li>
            <li data-coords="10,1" data-labeltext="495866" > </li>
            <li data-coords="12,1" data-labeltext="498888" > </li>
            <li data-coords="15,1" data-labeltext="Bitcoin" data-marker=""> </li>
        </ul>

        <ul data-color="#9fada2" data-labeltext="Diamond" data-label="Diamond">
             <li data-coords="10,0.77" > </li>
             <li data-coords="11,3" ></li>
             <li data-coords="15,3" data-labeltext="Diamond" data-marker="" data-labelPos="E"> </li>
        </ul>

        <ul data-color="#6f72ad" data-label="Superbitcoin">
             <li data-coords="12,0.77" ></li>
             <li data-coords="12.9,2" data-dir="E" ></li>
             <li data-coords="15,2" data-marker="" data-labeltext="Superbitcoin" data-labelPos="E"> </li>
        </ul>

        <ul data-color="#7fcdd2" data-label="Clashic">
             <li data-coords="3,0.77" > </li> <!-- marker-only node, moved up by 0.20 -->
             <li data-coords="5.5,6" data-labeltext="Clashic"></li>
             <li data-coords="8,6"  data-marker="station" data-labeltext="504032" data-labelPos="N"> </li>
             <li data-coords="15,6" data-marker="" data-labeltext="Clashic" data-labelPos="E"> </li>
        </ul>

        <ul data-color="#2db2df" data-label="Cash">
             <li data-coords="8,6" > </li> <!-- marker-only node, moved up by 0.20 -->
             <li data-coords="9,7" data-dir="E" ></li>
             <li data-coords="15,7" data-marker="" data-labeltext="Cash" data-labelPos="E"> </li>
        </ul>

        <ul data-color="#4fadb2" data-label="BGold">
             <li data-coords="7,0.77" > </li>
             <li data-coords="8.5,4" data-dir="E" ></li>
             <li data-coords="10,4" data-labeltext="494784" data-labelPos="N"> </li>
             <li data-coords="15,4" data-marker="" data-labeltext="Gold" data-labelPos="E"> </li>
        </ul>

        <ul data-color="#226fad" data-label="2x">
             <li data-coords="10,4" > </li>
             <li data-coords="11,5" data-dir="E"  ></li>
             <li data-coords="15,5" data-marker="" data-labeltext="2X" data-labelPos="E"> </li>
        </ul>
</div>
<script type="text/javascript">
    $(".subway-map").subwayMap({ debug: false });
    $(".subway-map").show();
</script>


<table>
    <thead>
        <th>Name</th>
        <th>Fork from</th>
        <th>Fork height</th>
        <th>Replay protection (Bitcoin)</th>
        <th>Replay protection (fork parent)</th>
        <th>Segwit</th>
    </thead>
    <tbody>
        {% assign forks = site.forks | sort: 'date' %}
        {% for fork in forks %}
        {% if fork.hide == False %}
        <tr>
            <td data-label="Name"><b><a href="{{ fork.url | relative_url }}">{{ fork.title }}</a></b></td>
            <td data-label="Fork from">{{ fork.parent_chain }}</td>
            <td data-label="Fork height">{{ fork.block }}</td>
            <td data-label="RP (Bitcoin)">
                {% if fork.replay_bitcoin %}
                  <i class="fa fa-check-square olive" aria-label="Has replay protection"></i>
                {% else %}
                  <i class="fa fa-minus-circle red" aria-label="No replay protection"></i>
                {% endif %}
            </td>
            <td data-label="RP (fork parent)">
                {% if fork.replay %}
                  <i class="fa fa-check-square olive" aria-label="Has replay protection"></i>
                {% else %}
                  <i class="fa fa-minus-circle red" aria-label="No replay protection"></i>
                {% endif %}
            </td>
            <td data-label="Segwit">{% if fork.segwit %} <i class="fa fa-check-square olive" aria-label="Has segwit"></i>  {% else %} <i class="fa fa-minus-circle red" aria-label="No segwit"></i> {% endif %}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

<p><i>Disclaimer: We do not endorse any forks. Instead, we provide known information about them that is subject to change as we continue to learn more.</i></p>

<br />
<br />